.botonir{
    border: 1px solid #6c757d;
      padding: 0.5em;
      background-color: #6c757d;
      color: white !important;
      text-decoration: none;
  }
  
.animacionbody {
	-webkit-animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
  
@-webkit-keyframes animacionbody {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes animacionbody {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}
  
@media only screen and (max-width: 600px) {
    img{
        height:200px !important;
        width:200px !important;
        margin:0 auto;
    }
    .proyectos{
        margin-top:22%;
    }
    .flex-grow-1{
        padding-top:2em;
    }
}