*,*:before,*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

.clear {
  clear: both;
  content: "";
}

#root {
  background-color: aqua;
}

.game-info {
  margin-bottom: 20px;
  background: transparent;
  padding: 7px;
  border: 1px solid black;
  color: aqua;
  min-height: 100px;
}

.info {
  display: block;
  margin-top: 15px;
}

h1,p {
  margin: 0;
}

.footer {
  background-color: #ffc107;
  box-shadow: 0 0 1em black;
}

.titulo {
  font-weight: bold;
  color: black;
}

#panel {
  box-shadow: 0 0 1em black;
  width: 100%;
  text-align: center;
  padding: 1em;
  background-color: rgb(236, 201, 201);
}

.navbar-start {
  margin: 0 auto;
}

#tablita {
  width:400px;
}

.celda {
  box-shadow: 0 0 1em black;
  background: #fcfaf9;
  border: 1px solid white;
  float: left;
  line-height: 45px;
  height: 40px;
  text-align: center;
  width: 40px;
  cursor: pointer;
  color: black;
  font-weight: 600;
}

.oculta {
  background: rgb(53, 53, 53);
  border: 1px solid white;
}

.bandera, .minada {
  color: #fc543c;
  border: 1px solid white;
}

